h1 {
 text-align: center;
 background-color:#deca7f;
}
.gallery{
    /*width:190px;
    height: 199px;
    display: flex;
    justify-content: left;*/
}
h2 {
    font-size:30px;
    background-color:#deca7f;
    text-align: center;
}
.body{
    color: #BEA651;
    background-color: #FFEDAB;
}
.img{
    
    color: #EBD99A;
    width: 300px;
    height: 200px;
}
h3{
    font-size:30px;
    background-color:#deca7f;
    text-align: center; 
}

h4{
    font-size:30px;
    background-color:#deca7f;
    text-align: center; 
}

h5{
    font-size:30px;
    background-color:#deca7f;
    text-align: center; 
}

h6{
    font-size:30px;
    background-color:#deca7f;
    text-align: center; 
}

footer{
    text-align: center;
}


.imgend{
    width: 300px;
    height: 380px;
}


div{
    text-align: center;
}

.imgk{
    width:auto;
    height: 230px;
}

.imgc{
    width:200px;
    height: 250px;
}

.imge{
    width:200px;
    height: 250px;
}

.imga{
    width:200px;
    height: 250px;
}
